.icon-mean-container{
display: flex;
width: 10%;
flex-direction: column;
align-items: center;
justify-content: center;


}
.icon-container{
    background-color: brown;
    
    width:50%;
    height: 80%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon{
    font-size: xx-large;
    color: white;
    margin: 5%;
}
.icon-mean-container p{
position: relative;
left: 0px;
margin: 0%;
padding: 0%;
display: flex;
justify-content: center;

}

