.Flaight-box{

    border: 1px solid rgb(186, 186, 186);
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    width: 40%;
    
}
.uper-Flaight-box{

    display: flex;
    justify-content: space-between;
}
.uper-Flaight-box h5{
margin: 7px;

}
.icon3{
font-size: x-large;
    margin: 3px;


}
.lower-Flaight-box{
display: flex;
align-items: center;
justify-content: center;
}
.label1{
    font-size: large;
    font-weight: bold;  
}