.search-box-cotainer{
display: flex;
font-family: sans-serif;
color: #fff;
flex-direction: column;
justify-content:center;
align-items: center;
background:  #27559a;
background-size: cover;
background-image: url('./Banner.png');
height: 30%;
background-position: bottom;
}